<!-- <ul *ngFor="let todo of todos">
    <li>{{todo.sno}} - {{todo.title}} - {{todo.desc}} - {{todo.active}}  </li>
</ul> -->
<app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
<h4>Yours Todo</h4>

<div *ngIf="this.todos.length === 0; else elseBlock">Todo List is Empty, Please Add Todos</div>
<ng-template #elseBlock>

    <div *ngFor="let todo of todos" index as i>
        <app-todo-item [i] ="i" [todo]="todo" (todoDelete)="deleteTodo($event)" (todoCheckBox)="toggleTodo($event)"></app-todo-item>
    </div>

</ng-template>

<!-- <p>app todos</p>
<p>app todos</p> -->